#table-maintainenceproducts {
    width: 100%;
    margin: 50px 0;
}

#marged-50px { 
    margin: 50px 0;
}

#maintenance-table-title {
    margin: 25px 0;
}

#table-maintainenceproducts img {
    height: 50px;
    border-style: none;
    box-shadow: none;
}